<div class="stars1">
<div class="clouds">

  <div class="">
    <div class="container">
      <h3 class="title-the">My Timeline</h3>
      <!--first section-->
      <div class="holder-container">
      <div class="row align-items-center how-it-works d-flex">
        <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold">1</div>
        </div>
        <div class="col-6">
          <h5>The beginning</h5>
          <br>
          <p>It all started in the summer of 2019 when, through a web development course, recommended by the university, I discovered the world of programming.

          </p>
        </div>
      </div>
      <!--path between 1-2-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner top-right"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner left-bottom"></div>
        </div>
      </div>
      <!--second section-->
      <div class="row align-items-center justify-content-end how-it-works d-flex">
        <div class="col-6 text-right">
          <h5>What i'm trying to do now</h5>
          <br>
          <p>As a junior or beginner, I am trying to create my first portfolio and try to find opportunities in the world of programming.</p>
        </div>
        <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold">2</div>
        </div>
      </div>
      <!--path between 2-3-->
      <div class="row timeline">
        <div class="col-2">
          <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
          <hr/>
        </div>
        <div class="col-2">
          <div class="corner top-left"></div>
        </div>
      </div>
      <!--third section-->
      <div class="row align-items-center how-it-works d-flex">
        <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
          <div class="circle font-weight-bold">3</div>
        </div>
        <div class="col-6">
          <h5>Hobbies</h5>
          <br>
          <p>Play games, watch and play sports such as soccer,
            go to the beach, drink a lot of coffee, travel, watch crime & horror movies...</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
