<div class="stars1">
  <div class="clouds">


      <div class="stars"></div>
      <div class="twinkling"></div>
      <div class="clouds"></div>
      <div class="wrapper">
        <div class="stars"></div>
<!-- Right below is an image of the sun -->
<div id="sun"></div>
  <!-- Insert the 'earth' on the next line -->
   <div id="earth-orbit">
     <div id="earth"></div>
       <div id="moon-orbit">
         <div id="moon"></div>
         </div>
   </div>
        <div class="">
          <div class="container">
            <h3 class="title-the">Hi, I'm Simone.</h3>
            <h3 class="title-the">I usually live on the moon.</h3>


        </div>
      </div>


  </div>

