<div class="stars1">
<div class="clouds">



  <div class="social">
    <span class="line"></span>
    <ul>

      <div class="social-media-holder">
      <li class="facebook">
        <a href="https://www.facebook.com/simone.a.frn" target="_blank">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      </li>


      <li class="instagram">
        <a href="https://www.instagram.com/simoneafer/" target="_blank">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </li>
      <li class="linkedin">
        <a href="https://www.linkedin.com/in/simone-fernandes-933ab5129/" target="_blank">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </li>
      <li class="github">
        <a href="https://github.com/minerva107" target="_blank">
          <i class="fab fa-github fa-2x"></i>
        </a>
      </li>
    </div>
    </ul>
  </div>




  <aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a>
        <img src="https://cdn4.iconfinder.com/data/icons/people-of-service/512/People_Services_astronaut_woman-512.png" class="hoverZoomLink">
      </a>

      <!-- the username -->
      <h1>
              Simone Fernandes
            </h1>

      <!-- and role or location -->
      <h2>
              Junior Web Developer
            </h2>

    </header>

    <!-- bit of a bio; who are you? -->
    <div class="profile-bio">

        <div class="lettering-bio" style="font-weight: 500;">E-mail:</div>
        simonefernandes107@gmail.com
        <br>
        <p><div class="lettering-bio" style="font-weight: 500;">Phone:</div>
        +351914910416
        <p>
        <div class="lettering-bio" style="font-weight: 500;">Github:</div>https://github.com/minerva107


    </div>

    <!-- some social links to show off -->

  </aside>

</div>
</div>

